body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header{
  position: fixed;
  padding: 13px 0px;
  width: 100%;
  background-color: white;
  height: 20px;
  z-index: 1;
}

nav{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  padding: 0px 15px
}

.nav-link:visited, .nav-link:link{
  text-decoration: none;
  color: black;
}

.nav-link:hover{
  font-weight: bold;
}

.nav-link{
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  text-transform: uppercase;
}

main{
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#welcome-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background: linear-gradient(to right top, #f0838d ,#fccb86);
}

.welcome-content{
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  padding-right: 50px;
}

h1{
  font-size: 85px;
  font-family: Brush Script MT, cursive;
  line-height: 0%;
  color: rgb(58, 55, 55);
}

.welcome-content p{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  text-shadow: 2px 2px 2px black;
}

#about-section{
  height: 721.6px;
}

.about-title, .educations-title, .careers-title,.skills-title, .projects-title, .contact-title{
  display: flex;
  justify-content: center;
  font-family: Papyrus, fantasy;
  font-size: 40px;
  padding-top: 40px;
  line-height: 0%;
  text-decoration: underline;
}

.about-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

.about-description{
  text-align: justify;
  width: 35vw;
  line-height: 0.8cm;
  padding: 10px 40px;
  border-radius: 50px;
  background-color: gainsboro;
  box-shadow: 4px 4px 8px black;
}

.about-description h3{
  font-family: lucida handwriting, cursive;
  font-size: 25px;
}

.about-description{
  font-size: 18px;
}

#educations-section{
  position: relative;
  height: 721.6px;
}

#educations-section::before{
  content: "";
  background-image: url("Images/IMG-5743.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
  filter: brightness(30%);
}

.educations-title{
  color: white;
}

.educations-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

#uitm, #ump, #upm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 4in;
  height: 4.5in;
  border-radius: 50px;
  text-align: center;
  margin: 5px;
}

#uitm h3, #ump h3, #upm h3{
  font-size: 20px;
}

#uitm p, #ump p, #upm p{
  font-size: 18px;
}

#careers-section{
  height: auto;
  padding-bottom: 20px;
}

.careers-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#tm,#mias,#ii-vi{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 11in;
  height: 3in;
  border: solid;
  border-radius: 50px;
  box-shadow: 4px 4px 4px black;
  margin: 20px 10px;
  padding: 10px 10px;
  background-color: #F3EFE0;
}

.tm-description, .ii-vi-description, .mias-description{
  text-align: justify;
  width: 7in;
}

.tm-description h3, .ii-vi-description h3, .mias-description h3{
  line-height: 0%;
}

.tm-title h3, .ii-vi-title h3, .mias-title h3{
  text-align: center;
  font-size: medium;
}

#skills-section{
  position: relative;
  height: 721.6px;
}

#skills-section::before{
  content: "";
  background-image: url("Images/2581461.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: cover;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  position: absolute;
  z-index: -1;
  filter: opacity(0.55);
}

.skills-content{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#programming, #tools, #language{
  width: 8in;
  padding: 0px 10px 20px 10px;
}

#programming ul, #tools ul, #language ul{
  column-count: 2;
  column-gap: 50px;
  list-style: none;
  margin: 0%;
  padding: 0%;
}

.skills-content li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 3.5in;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.skills-content li:hover{
  font-size: 19px;
}

#programming h3, #tools h3, #language h3{
  font-size: 23px;
  text-shadow: 4px 4px 4px black;
}

.score{
  color: rgb(137, 86, 19);
}

#projects{
  height: 721.6px;
  width: auto;
}

.project-tile{
  height: 432.95px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 10px;
  row-gap: 35px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 30px 0px;
}

.project-tile a:visited, .project-tile a:link{
  text-decoration: none;
  color: black;
}

.project-tile a:hover{
  color: rgb(90, 77, 77);
  font-weight: bold;
  filter: brightness(70%);
}

#basketball img,#pocketalk img,#steve-jobs img,#survey img{
  border-radius: 15px;
  border: solid;
}

#basketball p,#pocketalk p,#steve-jobs p,#survey p{
  text-align: center;
  font-size: 20px;
}

.codepen{
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more{
  font-family: monospace;
  font-size: 18px;
  padding: 8px 10px;
  border: 2px solid;
  border-radius: 50px;
  background-color: rgb(125, 147, 212);
  margin: 20px;
}

#profile-link:visited, #profile-link:link{
  text-decoration: none;
  color: black;
}

.show-more:hover, .profile-link:hover{
  filter: brightness(70%);
  color: black;
  font-weight: bold;
}

.show-more:active, .profile-link:hover{
  box-shadow: 2px 2px 2px 2px black;
}

#contact-section{
  height: 721.6px;
  background-color: rgb(192, 158, 138);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title{
  text-decoration: none;
}

.contact-content{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 40px;
  justify-items: center;
  align-items: center;
  font-size: 40px;
  margin: 20px;
  padding: 40px 20px;
}
 
.contact-content a:visited, .careers-content a:any-link{
  color: rgb(58, 53, 53);
}

.contact-content a:hover{
  color: white;
}

.contact-content a:active{
  text-shadow: 2px 2px 2px black;
}

@media screen and (max-height: 559.6px){
  .welcome-image img{
    display: none;
  }
}

@media screen and (max-width: 1280px){
  #projects{
    height: auto;
    padding-bottom: 20px;
  }
  
  .project-tile{
    height: auto;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 35px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

@media screen and (max-width: 1100px){
  #tm,#mias,#ii-vi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: solid;
    border-radius: 50px;
    box-shadow: 4px 4px 4px black;
    margin: 20px 10px;
    padding: 20px 20px;
    background-color: #F3EFE0;
  }

  #tm,#mias{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: solid;
    border-radius: 50px;
    box-shadow: 4px 4px 4px black;
    margin: 20px 10px;
    padding: 20px 20px;
    background-color: #F3EFE0;
  }

  .tm-description, .ii-vi-description, .mias-description{
    width: auto;
  }
}

@media screen and (max-width: 1050px){
  #about-section{
    height: auto;
    padding-bottom: 20px;
  }

  .about-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 25px;
  }

  .about-description{
    width: auto;
  }

  .about-image img{
    width:430px;
  }
}

@media screen and (max-width: 1000px){
  #educations-section{
    height: auto;
  }

  .educations-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px 20px 0px;
    row-gap: 20px;
  }
}

@media screen and (max-width: 830px){
  .welcome-image img{
    display: none;
  }

  #skills-section{
    height: auto;
  }

  #programming, #tools, #language{
    width: auto;
  }

  #programming ul, #tools ul, #language ul{
    column-count: auto;
  }
}

@media screen and (max-width: 700px) {
  header{
    height: auto;
  }

  nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav-link{
    border-bottom: 1px black  solid;
  }
}